{% comment %} Load Folium HTML files into an Iframe {% endcomment %}


<script type="text/javascript">
  {% for chart in page.folium-loader %}
  
  document.addEventListener("DOMContentLoaded", function () {
    let el = document.getElementById("{{ chart[0] }}")
    if (el === null)
      alert("Error: cannot embed HTML chart because the div element with id '{{ chart[0] }}' does not exist.")
    let spec = "{{ site.baseurl }}/{{ chart[1][0] }}";
    let height = "{{ chart[1][1] }}"
    
    el.innerHTML = `<iframe width="100%" height="${height}px" scrolling="no" frameborder="0" src="${spec}"></iframe>`;
  });
  {% endfor %}  
</script>